@{
    ViewData["Title"] = "Create";
}
<div class="text-center">
    <h2 class="display-4">Создание склада</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-8">
            <div class="col-4">Название склада:</div>
            <div class="col-8"><input type="text" name="warehouseName" id="warehouseName" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">ФИО ответственного:</div>
        <div class="col-8"><input type="text" name="responsiblePerson" id="responsiblePerson" /></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btnprimary" /></div>
    </div>
</form> 