@{
    ViewData["Title"] = "Edit";
}
<div class="text-center">
    <h2 class="display-4">Редактирование склада</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название склада:</div>
        <div class="col-8"><input type="text" name="warehouseName" id="warehouseName" value="@ViewBag.WarehouseName" /></div>
    </div>
    <div class="row">
        <div class="col-4">ФИО ответственного:</div>
        <div class="col-8"><input type="text" name="responsiblePerson" id="responsiblePerson" value="@ViewBag.ResponsiblePerson" /></div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Компонент
                </th>
                <th>
                    Количество
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ComponentsWarehouse)
            {
                <tr>
                    <td>
                        @item.Item1
                    </td>
                    <td>
                        @item.Item2
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Сохранить и выйти" class="btn btnprimary" /></div>
    </div>
</form> 